.container_button {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.button {
  margin-right: 20px;
  height: 40px;
  width: 120px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  background-color: rgb(116, 179, 190);
  cursor: pointer;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    scale 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: lightseagreen;

  opacity: 0.8;
  scale: 1.05;
}
